.App {
  min-height: 100vh;
  background-color: white;
  margin: 5px;
}

.mybody {
  display: flex;
  gap: 3em;
  padding: 1em;
}

a.navbar-brand {
  margin-inline-start: -5em;
}

.nav-link {
  color: white !important;
  margin-left: 5em;
}

.list-students {
  text-align: center;
  margin-top: 25px;
  flex: 1;
}

ul {
  list-style-type: none;
}

form {
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 3em;
  flex: 1;
}

input[type="text"] {
  display: inline-block;
  margin-top: -10px;
  width: 100%;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #98d0f1;
}

button.btn.btn-primary {
  margin-top: 25px;
}

.myicon {
  stroke: rgb(243, 121, 7);
  color: rgb(243, 121, 7);
  stroke-width: 10;
  margin-right: 0.9em;
}

.form-label {
  margin-bottom: 0 !important;
  margin-top: 0.5em;
}

.form-check {
  margin-top: 1em;
}

.card-body {
  margin-left: 2em;
  margin-right: 2em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center; */

.homeimages {
  height: 30em;
  max-height: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.secondhomeimage {
  width: fit-content;
}

.homeparagraph {
  background-color: "white";
  font-size: 15px;
  /* padding-left: 20px; */
  padding: 3%;
  margin: 3%;
  text-align: center;
}

.listitemcard {
  margin: 5%;
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homecards {
  display: flex;
  text-align: center;
  margin: 3rem;
  width: 25%;
  padding: 0 10px;
}
.navbar {
  color: black;
}
.container {
  background-color: rgb(234, 183, 183);
}

.aboutusimages {
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aboutuscontainer {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  background-color: #c5efed;
}

.aboutusimage1 {
  padding: 50px;
  max-width: 90%;
  max-height: 90%;
}

.aboutustitle1 {
  text-align: center;
  padding: 40px;
}

.aboutuscontainer2 {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  background-color: #ffdd9b;
}

.aboutusimage2 {
  padding: 50px;
  max-width: 90%;
  max-height: 90%;
}

.aboutustitle2 {
  text-align: center;
  padding: 40px;
}

.waystohelpquote1 {
  background-color: lightgoldenrodyellow;
  padding: 150px;
  text-align: center;
}

.waystohelpimages1 {
  height: 20em;
  padding: 100px;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffdd9b;
}

.waystohelpcontent2 {
  text-align: center;
  background-color: #ffdd9b;
}

.waystohelpimage2 {
  text-align: center;
  background-color: lightsteelblue;
  padding: 60px;
}

.waystohelpparag {
  text-align: center;
  padding: 100px;
  background-color: #c5efed;
}

.intropargadoptpets {
  text-align: center;
  padding: 0px 300px 100px;
}

.adoptablepetspic1 {
  text-align: center;
  display: flex;
}

.adoptablepetspic2 {
  display: flex;
  justify-content: center;
}

.adoptablepetsparag2 {
  display: flex;
  text-align: center;
  padding: 100px 300px 100px;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeimage {
  max-width: 100%;
  max-height: 100%;
}

.homeparagraph {
  font-size: 15px;
  padding-left: 20px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeimage2 {
  max-width: 100%;
  max-height: 100%;
}

.homeparagraph2 {
  font-size: 15px;
  padding-left: 20px;
} */
